{% extends 'base.jinja' %}
{% block title %}Visual{% endblock %}
{% block content %}
<div class="container">
    <h1>Visualizations</h1>
    <div class="container">
        {{ plot0 | safe }}
    </div>
    <div class="container">
        {{ plot1 | safe }}
    </div>
    <div class="container">
        {{ plot2 | safe }}
    </div>
</div>
{% endblock %}